name: sync-submodule

on:
  push:
    branches: [ main ]
    
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

#       - name: update submodules
#         run: |
#           git submodule update --init --recursive
#           git submodule update --recursive --remote

      - name: Commit & push changes
        run: |
          echo Hello, world!${{ secrets.USER_NAME }}${{ secrets.USER_EMAIL }}
      
         
